<button id="openModal">ユーザー情報を開く</button>

<div id="userSettingsModal" class="modal">
  <div class="modal-content">
    <!-- ここまでモーダルウィンドウ、以下はモーダル内容 -->
    <div class="modal-header">
      ユーザー情報
      <span id="closeModal" >&times;</span>
    </div>

    <div class="container">
      <div class="card-body">
        <p><strong>ユーザーID:</strong> <%= @user.login_id %></p>
        <p><strong>ユーザー名:</strong> <%= @user.name %></p>
        <p><strong>メールアドレス:</strong> <%= @user.email %></p>
        <p><strong>ユーザータイプ:</strong> <%= role_in_japanese(@user.role) %></p>
        <p><strong>患者ID:</strong> <%= @user.secret_patient_id %></p>
        <p class="text-muted">パスワードはセキュリティ上表示されません。</p>
      </div>
    </div>
  </div>
</div>
