<h1>ユーザー情報</h1>

<p>ユーザーID: <%= @user.login_id %></p>

<p>ユーザー名: <%= @user.name %></p>

<p>メールアドレス: <%= @user.email %></p>

<p>ユーザータイプ: <%= role_in_japanese(@user.role) %></p>

<p>患者ID: <%= @user.secret_patient_id %></p>

<p>パスワードはセキュリティ上表示されません。</p>
