<h1>Chat room</h1>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
  <p>あなたの Secret Patient ID: <%= current_user.secret_patient_id %></p>
<% else %>
  <p>Please sign in.</p>
<% end %>

<%= link_to '服用スケジュール', patient_schedules_path(current_patient)  %>
<%= link_to 'お薬リスト', patient_medications_path(current_patient) %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<div id ='messages' data-secret-id='<%= current_user.secret_patient_id %>'>
  <%= render @messages %>
</div>

<form id="new_message">
  <label>【入力欄】</label><br>
  <textarea id="message_content" data-behavior="room_speaker" row="5" cols="30"></textarea>
  <input type="submit" value="Send">
</form>
