<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <h2 class="text-center mb-3">ユーザー設定</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "card p-4" }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger">
          <strong><%= pluralize(resource.errors.count, "件") %> のエラーが発生したため登録できませんでした</strong>
          <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :current_password , "現在のパスワード （変更する場合は必要です）", class: "form-label" %> <br />
        <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class: "form-control"%>
      </div>

      <div class="mb-3">
        <%= f.label :password,"パスワード （空白のままなら変更しません）", class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "6文字以上で入力してください" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "パスワード", class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "確認用" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.submit "更新", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <h3 class="text-center mt-4">退会</h3>

    <div class="card p-4">
      <p>以下のボタンよりアカウントを削除し、退会できます。</p>
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "本当に退会しますか?" }, method: :delete, class: "btn btn-danger w-100" %>
    </div>
    </div>
  </div>
</div>
