<%= form_with model: [current_patient, @medication], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, "名前", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="row mb-3">
    <div class="col-4">
      <%= form.label :dosage, "服用量", class: "form-label" %>
      <%= form.text_field :dosage, class: "form-control" %>
    </div>

    <div class="col-4">
      <%= form.label :start_date, "開始日", class: "form-label" %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="col-4">
      <%= form.label :end_date, "終了日", class: "form-label" %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-4 time-input visible">
      <%= form.label :time1, "時間（５個まで）" %>
      <%= form.time_field :time1, class: "form-control time-field" %>
    </div>

    <div class="col-4 time-input label-placeholder" >
      <%= form.time_field :time2, class: "form-control time-field" %>
    </div>

    <div class="col-4 time-input label-placeholder">
      <%= form.time_field :time3, class: "form-control time-field" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 time-input" >
      <%= form.time_field :time4, class: "form-control time-field" %>
    </div>

    <div class="col-4 time-input" >
      <%= form.time_field :time5, class: "form-control time-field" %>
    </div>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label :memo, "メモ", class: "form-label" %>
    <%= form.text_area :memo, class: "form-control large-text-area" %>
  </div>

  <div class="mb-3">
    <%= form.submit "登        録", class: "btn new-button w-50" %>
  </div>

<% end %>
