<h1>お薬リスト</h1>

<%= link_to 'お薬追加', new_patient_medication_path(current_patient) %>
<%= link_to 'スケジュール', patient_schedules_path(current_patient) %>
<%= link_to 'チャットルーム', rooms_show_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosage</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Memo</th>
      <th>Time1</th>
      <th>Time2</th>
      <th>Time3</th>
      <th>Time4</th>
      <th>Time5</th>
    </tr>
  </thead>

  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.name %></td>
        <td><%= medication.dosage %></td>
        <td><%= medication.start_date %></td>
        <td><%= medication.end_date %></td>
        <td><%= medication.memo %></td>
        <td><%= medication.time1.strftime('%H:%M') if medication.time1.present? %></td>
        <td><%= medication.time2.strftime('%H:%M') if medication.time2.present? %></td>
        <td><%= medication.time3.strftime('%H:%M') if medication.time3.present? %></td>
        <td><%= medication.time4.strftime('%H:%M') if medication.time4.present? %></td>
        <td><%= medication.time5.strftime('%H:%M') if medication.time5.present? %></td>
        <td><%= link_to '編集', edit_patient_medication_path(current_patient, medication) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
