<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <h4 class="text-center mb-3">ログイン</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card p-4" }) do |f| %>

      <div class="mb-3">
        <%= f.label :login_id, class: "form-label" %><br />
        <%= f.text_field :login_id, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <%= link_to "パスワードを忘れた場合", new_user_password_path, class: "text-center d-block" %>
    </div>
  </div>
</div>
