<div class="message mb-2 <%= message.user.id == current_user.id ? 'my-message' : 'other-message' %>" data-user-id="<%= message.user.id %>" >

  <%= image_tag "#{message.user.role}.png", class: "icon-box" %>
  <div class="user-name">
    <strong><%= message.user.name %>（<%= role_in_japanese(message.user.role) %>）</strong>
  </div>
  <div class="card <%= message.user.id == current_user.id ? 'my-card' : 'other-card' %>">
    <div class="card-body pl-0 pb-0 pt-0 pr-0">
      <p class="card-text">
        <%= simple_format message.content %>
      </p>
    </div>
    <div class="timestamp" >
      <small class="text-muted"><%= message.created_at.strftime("%m/%d %H:%M") %></small>
    </div>
  </div>
</div>
