<div class="message mb-2 <%= message.user.id == current_user.id ? 'my-message' : 'other-message' %>" data-user-id="<%= message.user.id %>" >
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <strong><%= message.user.name %>:</strong> <%= message.content %>
        <small class="text-muted"><%= message.created_at.strftime("%m/%d %H:%M") %></small>
      </p>
    </div>
  </div>
</div>
