<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h2>HomeCareConnect</h2>
          </div>
          <% if user_signed_in? %>
            <div class="col text-end">
              <!-- ここにユーザーに関連するアクションや検索バーなど -->
              <a href="#" class="btn btn-primary">追加</a>
              <a href="#" class="btn btn-secondary">設定</a>
            </div>
          <% else %>
            <div class="col text-end">
              <a href="<%= new_user_session_path %>" class="btn login-button">ログイン</a>
              <a href="<%= new_user_registration_path %>" class="btn assign-button">無料で開始する</a>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3 bg-lightblue">
          <!-- ここにサイドメニューを配置 -->
          <% if user_signed_in? %>
            <!-- ログイン後のメニュー -->
            <div class="list-group mt-5">
              <a href="<%= rooms_show_path %>" class="list-group-item list-group-item-action">チャットルーム</a>
              <a href="<%= patient_schedules_path(current_patient) %>" class="list-group-item list-group-item-action mt-3">服用スケジュール</a>
              <a href="<%=  patient_medications_path(current_patient) %>" class="list-group-item list-group-item-action mt-3">お薬リスト</a>

              <div class="dropdown">
              <a class="list-group-item list-group-item-action dropdown-toggle mt-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                その他
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to "ユーザー情報", home_show_path, class: "dropdown-item" %></li>
                <li><%= link_to "ユーザー設定", edit_user_registration_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </div>
            </div>
          <% else %>
            <!-- ログイン前のメニュー -->
          <% end %>
        </div>

        <div class="col-9">
          <!-- deviseのflashメッセージを表示する -->
          <%= render 'layouts/flash_messages' %>
          <!-- ここに各ビューが表示される -->
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
