<!DOCTYPE html>
<html>
  <head>
    <title>HomeCareConnect | 在宅療養者の情報共有プラットフォーム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <% if user_signed_in? %>
              <%= link_to image_tag('hcc_logo.png', alt: 'HomeCareConnect', class: 'hcc-logo'), rooms_show_path %>
            <% else %>
              <%= link_to image_tag('hcc_logo.png', alt: 'HomeCareConnect', class: 'hcc-logo'), root_path %>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="col text-end">
              <div class="user-menu">
                <div class="user-icon" id="userIcon"></div>
                <div class="user-dropdown" id="userDropdown">
                  <ul>
                    <li class="user-name"><%= current_user.name %>（<%= role_in_japanese(current_user.role) %>）</li>
                    <li><%= link_to raw('<i class="fa-solid fa-gear" style="color: #878787;"></i>  設定'), edit_user_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to raw('<i class="fa-regular fa-address-book" style="color: #787878;"></i> プロフィール・患者ID'), home_show_path %></li>
                    <li class="divider"></li>
                    <li class="logout-button"><%= link_to raw('<i class="fa-solid fa-right-to-bracket" style="color: #4d4d4d;"></i> ログアウト'), destroy_user_session_path, method: :delete %></li>
                  </ul>
                </div>
              </div>
            </div>
          <% else %>
            <div class="col text-end">
              <a href="<%= new_user_session_path %>" class="btn login-button">ログイン</a>
              <a href="<%= new_user_registration_path %>" class="btn assign-button">無料で開始する</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- deviseのflashメッセージを表示する -->
    <div class="flash-container <%= user_signed_in? ? 'logged-in' : 'logged-out' %>">
      <%= render 'layouts/flash_messages' %>
    </div>

    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>  <!-- ログインしている場合 -->
        <!-- ここにサイドメニューを配置 -->
          <div class="side-menu">
            <div class="list-group">
              <a href="<%= rooms_show_path %>" class="list-side-menu <%= 'active' if current_page?(rooms_show_path) %>">
                <%= image_tag 'comment-dots-regular.svg', alt: 'チャット', class: 'icon-class' %>チャットルーム
              </a>
              <a href="<%= patient_schedules_path(current_patient) %>" class="list-side-menu <%= 'active' if current_page?(patient_schedules_path(current_patient)) %>">
                <%= image_tag 'rectangle-list-regular.svg', alt: 'スケジュール', class: 'icon-class' %>服用スケジュール
              </a>
              <a href="<%=  patient_medications_path(current_patient) %>" class="list-side-menu <%= 'active' if current_page?(patient_medications_path(current_patient)) %>">
                <%= image_tag 'file-medical-solid.svg', alt: 'お薬リスト', class: 'icon-class-list' %>お薬リスト
              </a>
            </div>
          </div>
          <div class="content-area">
            <!-- ここに各ビューが表示される -->
            <%= yield %>
          </div>
        <% else %>      <!-- ログイン前ー -->
          <div class="col-12">
            <!-- ここに各ビューが表示される -->
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
